//
//  Copyright © 2020 CleverPumpkin. All rights reserved.
//

#include "Generated/base.generated.xcconfig"
#include "Generated/product_version.generated.xcconfig"
#include "bundle.xcconfig"

// CP Specific
CP_PRODUCT_BUNDLE_IDENTIFIER_BASE = ${BUNDLE_ID_BASE}
CP_PRODUCT_BUNDLE_IDENTIFIER_SUFFIX =
CP_PRODUCT_BUNDLE_DISPLAY_NAME_BASE = Travel App
CP_PRODUCT_BUNDLE_DISPLAY_NAME_SUFFIX =
CP_PRODUCT_BUNDLE_DISPLAY_NAME = $(CP_PRODUCT_BUNDLE_DISPLAY_NAME_BASE)$(CP_PRODUCT_BUNDLE_DISPLAY_NAME_SUFFIX)
CP_PRODUCT_BUNDLE_VERSION_SHORT = $(CP_PRODUCT_VERSION_BASE)
CP_PRODUCT_BUNDLE_VERSION = $(CP_PRODUCT_VERSION_BASE).$(CP_PRODUCT_VERSION_BUILD)
CP_USE_ABICONS = NO
CP_VERSION_COLOR = 00ffffff
CP_VERSION_BG_COLOR = ff000000
CP_ENABLE_UNIVERSAL_APP = NO
CP_ENABLE_XFRONTEND_DEBUG = NO
CP_KEYCHAIN_NAME = defaultKeychain
CP_DEBUG_LOGIN = -D CP_DEBUG_LOGIN
CP_DEBUG = -D CP_DEBUG
CP_WIRED_BUILD =
CP_TRACE_RX_RESOURCES =

// Version fix

CURRENT_PROJECT_VERSION = ${CP_PRODUCT_BUNDLE_VERSION}
MARKETING_VERSION = ${CP_PRODUCT_BUNDLE_VERSION_SHORT}

// Swiftlint
SWIFTLINT_CONFIGURAION_FILE_PATH = .swiftlint.yml


// Platform specific
IPHONEOS_DEPLOYMENT_TARGET = 14.0
PRODUCT_BUNDLE_IDENTIFIER = $(CP_PRODUCT_BUNDLE_IDENTIFIER_BASE)$(CP_PRODUCT_BUNDLE_IDENTIFIER_SUFFIX)
CODE_SIGN_IDENTITY = iPhone Developer
DEVELOPMENT_TEAM = $(BUNDLE_TEAM_ID)
TARGETED_DEVICE_FAMILY = 1
SWIFT_VERSION = 5.4
OTHER_SWIFT_FLAGS = $(inherited) $(_CP_XFRONTEND_DEBUG_SUFFIX_$(CP_ENABLE_XFRONTEND_DEBUG)) $(CP_DEBUG_LOGIN) $(CP_DEBUG) $(CP_TRACE_RX_RESOURCES) $(CP_WIRED_BUILD)
ASSETCATALOG_COMPILER_APPICON_NAME = ic_application

// Firebase specific
CP_FIREBASE_CONFIG =
FIREBASE_REVERSED_CLIENT_ID =

// App specific
URL_SCHEME = travel-app
APP_BUNDLE = $(PRODUCT_BUNDLE_IDENTIFIER)
APP_GROUP_PREFIX = group.
APP_GROUP = $(APP_GROUP_PREFIX)$(APP_BUNDLE)
