//
//  Copyright © 2020 CleverPumpkin. All rights reserved.
//

#include "base.xcconfig"

// CP Specific
CP_PRODUCT_BUNDLE_IDENTIFIER_SUFFIX = .debug
CP_PRODUCT_BUNDLE_DISPLAY_NAME_SUFFIX = $() Beta
CP_PRODUCT_BUNDLE_VERSION_SHORT = $(CP_PRODUCT_VERSION_BASE)$(CP_PRODUCT_VERSION_ABRC)
CP_KEYCHAIN_NAME = defaultKeychain.debug
CP_TRACE_RX_RESOURCES = -D CP_TRACE_RX_RESOURCES
CP_ENABLE_XFRONTEND_DEBUG = NO
CP_WIRED_BUILD = -D CP_WIRED_BUILD
CP_VERSION_BG_COLOR = 773F93AD

// Platform specific
DEBUG_INFORMATION_FORMAT = dwarf-with-dsym
ENABLE_NS_ASSERTIONS = YES
SWIFT_COMPILATION_MODE = incremental
SWIFT_OPTIMIZATION_LEVEL = -Onone
ONLY_ACTIVE_ARCH = YES
ENABLE_TESTABILITY = YES
SWIFT_ACTIVE_COMPILATION_CONDITIONS = DEBUG $(inherited)
GCC_PREPROCESSOR_DEFINITIONS = DEBUG=1 $(inherited)
GCC_OPTIMIZATION_LEVEL = 0
SWIFT_DISABLE_SAFETY_CHECKS = NO
VALIDATE_PRODUCT = NO

// Firebase specific
CP_FIREBASE_CONFIG = Debug
