//
//  Copyright © 2020 CleverPumpkin. All rights reserved.
//

#include "debug.xcconfig"

// CP Specific
CP_PRODUCT_BUNDLE_DISPLAY_NAME_SUFFIX = $() QA
CP_ENABLE_XFRONTEND_DEBUG = NO
CP_TRACE_RX_RESOURCES =
CP_WIRED_BUILD =
CP_VERSION_BG_COLOR = 77336794

// Platform specific
DEBUG_INFORMATION_FORMAT = dwarf-with-dsym
SWIFT_COMPILATION_MODE = wholemodule
SWIFT_OPTIMIZATION_LEVEL = -O
ONLY_ACTIVE_ARCH = NO
ENABLE_TESTABILITY = NO
GCC_OPTIMIZATION_LEVEL = 3
SWIFT_DISABLE_SAFETY_CHECKS = YES
VALIDATE_PRODUCT = YES
