//
//  Copyright © 2020 CleverPumpkin. All rights reserved.
//

#include "base.xcconfig"

// CP Specific
CP_PRODUCT_BUNDLE_IDENTIFIER_SUFFIX =
CP_PRODUCT_BUNDLE_DISPLAY_NAME_SUFFIX = $() RC
CP_PRODUCT_BUNDLE_VERSION_SHORT = $(CP_PRODUCT_VERSION_BASE)$(CP_PRODUCT_VERSION_ABRC)
CP_KEYCHAIN_NAME = defaultKeychain.production
CP_VERSION_BG_COLOR = 7703007E

// Platform specific
DEBUG_INFORMATION_FORMAT = dwarf-with-dsym
ENABLE_NS_ASSERTIONS = NO
SWIFT_COMPILATION_MODE = wholemodule
SWIFT_OPTIMIZATION_LEVEL = -O
ONLY_ACTIVE_ARCH = NO
ENABLE_TESTABILITY = NO
GCC_OPTIMIZATION_LEVEL = 3
SWIFT_DISABLE_SAFETY_CHECKS = YES
VALIDATE_PRODUCT = YES
ASSETCATALOG_COMPILER_APPICON_NAME = ic_application

// Firebase specific
CP_FIREBASE_CONFIG = Release
