<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>733484587469-i5mts2se8s04aef15n1v0odctrqcva7q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.733484587469-i5mts2se8s04aef15n1v0odctrqcva7q</string>
	<key>API_KEY</key>
	<string>AIzaSyBREiPmlp4RViyyUZHnxcNl8RRRsX9TFlM</string>
	<key>GCM_SENDER_ID</key>
	<string>733484587469</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.travelapp.debug</string>
	<key>PROJECT_ID</key>
	<string>travelapp-debug-app</string>
	<key>STORAGE_BUCKET</key>
	<string>travelapp-debug-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:733484587469:ios:b9c60f6ebed87181064c84</string>
</dict>
</plist>